*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: visible;
}

header {
    /* margin-bottom: 20px; */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid red; */
    background-image: linear-gradient(to right, rgb(12, 12, 112) , rgb(82, 7, 82));
}
header h1 {
    text-align: center;
    font-weight: bolder;
    color: white;
}

#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 80px; /* Stay at the top */
    left: 0;
    /* background-color: rgb(211, 206, 206); Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border: 1px solid black;
  }
  
  /* The navigation menu links */
  #sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

#sidenav h2 {
    margin: 10px;
}

  #border {
    margin-top: 10px;  
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid grey;
  }
  
  /* When you mouse over the navigation links, change their color */
  #sidenav a:hover {
    color: #f1f1f1;
  }
  
#sidenav input {
    /* float: left; */
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 17px;
}

#sidenav .searchContainer button {
    /* float: left; */
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: -4px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  select {
    margin-left: 10px;
    margin: 10px;
    width: 50%;
    height: 30px;
  }


  #searchContainer input {
       border: 1px solid grey;
  }

#weatherContent {
    margin-top: 100px;
    margin-left: 300px;
}

#weatherContent h3 {
    margin: 25px;
}

  #currentWeather {
      margin: 20px;
      /* margin-left: 300px; */
      border: 1px solid black;
      padding: 10px;
  }

  #weatherCards {
    display: flex;  
    flex: auto;
    flex-flow: row;
    justify-content: space-between;
    margin: 20px;
  }

  .card {
      border: 1px solid blue;
      width: 15vw;
      height: 30vh;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
      background-color: rgb(42, 36, 58);
      color: white;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
  }

#pastSearches li {
  list-style-type: none;
  padding-left: 0;
  border-radius: 3px;
  background-color: rgb(42, 36, 58);
  margin-bottom: 10px;
  margin-left: 30px;
  width: 150px; 
  text-align: center;
  color: white;
  cursor: pointer;
}

#currentLocation {
  display: block;
  margin-left: 10px;
}